{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Agacode">
    <meta name="keywords" content="Guru, Spoc, guru, spoc, seguros, susep">
    <meta name="description" content="Página de cadastro Guru Spoc" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css"
        integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css"
        integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css"
        integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link rel="icon" href="{% static 'global/images/icons.svg' %}" type="image/svg" size="32x32">

    <link rel="stylesheet" href="{% static 'global/css/global-style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <title>Guru Spoc</title>
</head>

<body>
    <header>
        <div class="header-content">
            <h1>Inovação em construção</h1>
            <p>Em breve, traremos uma plataforma incrível de Open Insurance para você!</p>
        </div>
    </header>

    
    <main class="root-container">
        <div id="loading-screen">
            <img src="{% static 'global/images/logo-guru.svg' %}" alt="Logo" class="logo">
        </div>
    
        <div class="noticias-content">
            <h1>Notícias</h1>
        </div>
    
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
            centered-slides="true" autoplay-delay="4500" autoplay-disable-on-interaction="false">
            <div class="swiper-slide">
                <div class="swiper-slide-content">
                    <img src="{% static 'global/images/logo-valor.svg' %}">
                    <div class="swiper-slide-text">
                        <h1>Guru recebe autorização da SUSEP e se torna primeira SPOC do open insurance</h1>
                        <p>Empresa fundada por Cassio Amaral e Antonio Cassio tem como meta acoplar à plataforma mais de 25 mil corretores e gerar receita superior a R$200 milhões nos... <a href="https://valor.globo.com/financas/noticia/2024/03/13/guru-recebe-autorizao-da-susep-e-se-torna-primeira-spoc-do-open-insurance.ghtml?utm_source=Whatsapp&utm_medium=Social&utm_campaign=compartilhar" target="_blank">Ver mais</a></p>
                        <span>13/03/2024</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-content">
                    <img src="{% static 'global/images/logo-gov-br.svg' %}">
                    <div class="swiper-slide-text">
                        <h1>Open Insurance: Susep credencia primeira Sociedade Processadora de Ordem do Cliente (SPOC)</h1>
                        <p>Empresa teve seu credenciamento aprovado após requerimento realizado junto à Autarquia. A Superintendência de Seguros Privados (Susep)... <a href="https://www.gov.br/susep/pt-br/central-de-conteudos/noticias/2024/marco/open-insurance-susep-credencia-primeira-sociedade-processadora-de-ordem-do-cliente-spoc/" target="_blank">Ver mais</a></p>
                        <span>13/03/2024</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-content">
                    <img src="{% static 'global/images/logo-sonho.svg' %}">
                    <div class="swiper-slide-text">
                        <h1>Susep aprova Guru Spoc, primeira corretora de seguros no open insurance</h1>
                        <p>A Superintendência de Seguros Privados (Susep) publicou hoje (13), no Diário Oficial da União, a Portaria DIR1/SUSEP nº 129, de 07 de março de 2024... <a href="https://www.sonhoseguro.com.br/2024/03/susep-aprova-primeira-corretora-de-seguros-no-open-insurance/" target="_blank">Ver mais</a></p>
                        <span>13/03/2024</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-content">
                    <img src="{% static 'global/images/logo-gepn.svg' %}">
                    <div class="swiper-slide-text">
                        <h1>Não vai mais ter app do Bradesco ou Itaú em até dois anos', diz Campos Neto sobre Open Finance</h1>
                        <p>O presidente do Banco Central (BC), Roberto Campos Neto, afirmou que o Open Finance, sistema que vai permitir o compartilhamento de informações... <a href="https://revistapegn.globo.com/negocios/noticia/2023/11/nao-vai-mais-ter-app-do-bradesco-ou-itau-em-ate-dois-anos-diz-campos-neto-sobre-open-finance.ghtml?utm_source=Whatsapp&utm_medium=Social&utm_campaign=compartilhar" target="_blank">Ver mais</a></p>
                        <span>11/11/2023</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-content">
                    <img src="{% static 'global/images/logo-infomoney.svg' %}">
                    <div class="swiper-slide-text">
                        <h1>Primeira SPOC pede autorização para funcionar: qual será o impacto ao consumidor de seguros?</h1>
                        <p>A primeira Sociedade Processadora de Ordem do Cliente (SPOC) do mercado de seguros solicitou autorização à Susep (Superintendência de Seguros Privados) para... <a href="https://www.infomoney.com.br/minhas-financas/primeira-spoc-pede-autorizacao-para-funcionar-qual-sera-o-impacto-para-o-consumidor-de-seguros/" target="_blank">Ver mais</a></p>
                        <span>16/11/2023</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-content">
                    <img src="{% static 'global/images/logo-valor.svg' %}">
                    <div class="swiper-slide-text">
                        <h1>Setor de seguros pode ter 1ª 'Spoc' neste ano</h1>
                        <p>Figura da Sociedade Processadora de Ordem do Cliente foi instituída como parte do ambiente de ‘open insurance’, o sistema aberto de compartilhamento de dados do setor... <a href="https://valor.globo.com/financas/noticia/2023/10/30/setor-de-seguros-pode-ter-primeira-spoc-neste-ano.ghtml" target="_blank">Ver mais</a></p>
                        <span>30/10/2023</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-content">
                    <img src="{% static 'global/images/logo-cqc.svg' %}">
                    <div class="swiper-slide-text">
                        <h1>Open Insurance: como a SPOC irá revolucionar o mundo dos seguros</h1>
                        <p>O setor de seguros no Brasil está prestes a ganhar uma nova instituição: a Sociedade Processadora de Ordem do Cliente, ou Spoc. A figura desse “hub” tecnológico de intermediação foi instituída como parte do ambiente de “Open Insurance”... <a href="https://cqcs.com.br/noticia/mercado-de-seguros-pode-ganhar-a-primeira-spoc/" target="_blank">Ver mais</a></p>
                        <span>30/10/2023</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-content">
                    <img src="{% static 'global/images/logo-openinsurance.svg' %}">
                    <div class="swiper-slide-text">
                        <h1>Novas expectativas do Mercado para o Open Insurance ficam para 2025</h1>
                        <p>Em 2022, lançamos um estudo inédito sobre o Open Insurance (OPIN) no Brasil. Agora, realizamos sua a primeira atualização com a análise... <a href="https://opinbrasil.com.br/cidadao/noticias/novas-expectativas-do-mercado-para-o-open-insurance-ficam-para-2025" target="_blank">Ver mais</a></p>
                        <span>01/02/2023</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-content">
                    <img src="{% static 'global/images/logo-cobertura.svg' %}">
                    <div class="swiper-slide-text">
                        <h1>Mercado de Seguros pode ganhar a primeira Spoc</h1>
                        <p>Muito mais do que a simples regulação do serviço, com a entrada da chamada SPOC em pauta, cada vez mais empresas têm procurado entender como aproveitar essa oportunidade para “abocanhar” uma parte deste mercado... <a href="https://www.revistacobertura.com.br/noticias/tecnologia-servicos/open-insurance-como-a-spoc-ira-revolucionar-o-mundo-dos-seguros/" target="_blank">Ver mais</a></p>
                        <span>16/10/2023</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-content">
                    <img src="{% static 'global/images/logo-sense.svg' %}">
                    <div class="swiper-slide-text">
                        <h1>Open Insurance: entenda o que é a SPOC, Sociedade Processadora de Ordem do Cliente</h1>
                        <p>Caso você ainda não tenha ouvido falar sobre a Sociedade Processadora de Ordem do Cliente (SPOC), pode se tranquilizar, é compreensível. Não faz tanto tempo que ela foi divulgada, mas sabemos que ela fará parte do Open... <a href="https://www.sensedia.com.br/post/open-insurance-entenda-tudo-sobre-spoc/" target="_blank">Ver mais</a></p>
                        <span>16/10/2023</span>
                    </div>
                </div>
            </div>
            
        </swiper-container>
        {% block content %}{% endblock content %}
    </main>


    <script src="{% static 'global/js/loading.js' %}"></script>
    <script src="{% static 'global/js/swisper.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

</body>


</html>